
@media (min-width: 800px) {
    .content-wrapper {
       max-height: 800px;
       margin: auto;
       padding: 40px;
    }

    .hero img{
        max-height: 500px;
        object-fit: cover;
    }
    header{
        padding: 30px;
    }
    footer{
        padding: 20px;
    }

    .data, .weather {
        width: 48%;
    }

    main {
        padding: 40px;
    }
}
